.countxt{
    font-size: 60px;
    font-family: "Times New Roman";
    margin-top: 0px;
  }
.buttons{
    display: flex;
  justify-content: space-around;
  width: 280px;
  }
  button{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    font-family: "Roboto";
  }